#working {
    float: left;
    margin-left: 50px;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;

}

#profile {
    float: left;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 20px;

}

#blog {
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;

 }

.break {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 12px; /* change this to whatever height you want it */
    content:"  "
 }

 